<div id="<%= dom_id dealership %>">
  <p>
    <strong>Nombre:</strong>
    <%= dealership.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= dealership.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= dealership.telefono %>
  </p>

</div>
